/***Загальні стилі всіх сторінок*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455; /*slate*/
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/*видалив .flex і пододавав його до відповдних класів, дійсно перемудрив із ним*/
.full-width {
  min-width: 1158px;
}
.visually-hidden {
  /*візуальне приховування елементів*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*сітки*/
.my-advantages-list, /*подумав, що логічно всі ці блоки зробити сітками. Бо може потім додасться член команди, або вид діяльності тощо*/
.my-products-list,
.my-team-list,
.my-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
/*fonts*/
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.header-1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.header-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.header-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.body-medium-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.link-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}
/*font colors*/
.iris {
  color: #4d5ae5; /*iris*/
}
.ocean {
  color: #404bbf; /*ocean*/
}
.navy-blue {
  color: #2e2f42; /*navy-blue*/
}
.slate {
  color: #434455; /*slate*/
}
.light-slate {
  color: #8e8f99; /*light-slate*/
}
.cornflower {
  color: #e7e9fc; /*cornflower*/
}
.cloud {
  color: #f4f4fd; /*cloud*/
}
.snow {
  color: #ffffff; /*snow*/
}
/*buttons*/
.main-button {
  padding: 16px 32px;
  gap: 10px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
}
.main-button:focus,
.main-button:hover,
.main-button:active {
  background: #404bbf;
}
.filter-button {
  padding: 16px 32px;
  gap: 10px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  cursor: pointer;
}
.filter-butt:focus,
.filter-button:hover,
.filter-button:active {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid #404bbf; /*проблема була в нульовому бордері отут, тому залишив бордер, але перефарбував його в основнй колір кнопки*/
  color: #ffffff;
}
/*background colors*/
.bg-iris {
  background-color: #4d5ae5; /*iris*/
}
.bg-ocean {
  background-color: #404bbf; /*ocean*/
}
.bg-navy-blue {
  background-color: #2e2f42; /*navy-blue*/
}
.bg-green {
  background-color: #31d0aa; /*green*/
}
.bg-slate {
  background-color: #434455; /*slate*/
}
.bg-light-slate {
  background-color: #8e8f99; /*light-slate*/
}
.bg-cornflower {
  background-color: #e7e9fc; /*cornflower*/
}
.bg-cloud {
  background-color: #f4f4fd; /*cloud*/
}
.bg-navy-blue-modal {
  background-color: #2e2f42; /*navy-blue-modal*/
  opacity: 0.4;
}
.bg-grey {
  background-color: #2e2f42; /*grey*/
  opacity: 0.7;
}
.bg-snow {
  background-color: #ffffff; /*snow*/
}
/*header*/
header {
  border-bottom: 1px solid #e7e9fc;
}
.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
.my-nav {
  display: flex;
  align-items: center;
}
.my-link-list {
  display: flex;
}
.my-link-item:not(:last-child) {
  margin-right: 40px;
}
.my-link {
  padding: 24px 0;
  color: #2e2f42;
  text-decoration: none;
}
.my-link:focus,
.my-link:hover,
.my-link:active {
  color: #404bbf;
  border-bottom: 4px solid #404bbf;
}
.my-address-list {
  display: flex;
}
.my-address-item:not(:first-child) {
  margin-left: 40px;
}
.my-address-link {
  text-decoration: none;
  font-style: normal;
}
.my-address-link:focus,
.my-address-link:hover,
.my-address-link:active {
  color: #404bbf;
}
/*footer*/
.my-footer {
  padding: 100px 0;
  flex-direction: column;
  justify-content: center;
}
.my-footer-text {
  width: 264px;
  margin-top: 16px;
}
/**index.html**/
/*hero*/
.my-hero {
  height: 600px; /*а отут, логічно додати фіксовану висоту чи все ж теж паддінгами зробити?*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-hero-text {
  width: 494px;
  margin-bottom: 48px;
  text-align: center;
}
/*advantages*/
.my-advantages {
  padding: 120px 0;
}
.my-advantages h3 {
  margin-bottom: 8px;
}
.my-advantages-item {
  flex-basis: calc((100% - 72px) / 4);
}
/*products*/
.my-products {
  text-align: center;
  padding-bottom: 120px;
}
.my-products-title {
  margin-bottom: 72px;
}
.my-products-item {
  flex-basis: calc((100% - 48px) / 3);
}
/*team*/
.my-team {
  text-align: center;
  padding: 120px 0;
}
.my-team-title {
  margin-bottom: 72px;
}
.my-team-card {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.my-team-card-caption {
  padding: 32px 16px;
}
.my-team-card-caption > h3 {
  margin-bottom: 8px;
}
/**Portfolio.html*/
/*filtres*/
.my-filtres {
  padding-top: 96px;
}
.my-filtres-list {
  display: flex;
  justify-content: center;
}
.my-filtres-item:not(:last-child) {
  margin-right: 24px;
}
/*portfolio*/
.my-portfolio {
  padding: 72px 0 120px;
}
.my-portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.my-portfolio-caption {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}
.my-portfolio-caption h2 {
  margin-bottom: 8px;
}
/*colors
.iris {
    color: #4d5ae5;
  }
  .ocean {
    color: #404bbf;
  }
  .navy-blue {
    color: #2e2f42;
  }
  .green {
    color: #31d0aa;
  }
  .slate {
    color: #434455;
  }
  .light-slate {
    color: #8e8f99;
  }
  .cornflower {
    color: #e7e9fc;
  }
  .cloud {
    color:#F4F4FD;
  }
  .navy-blue-modal {
    color: #2e2f42;
  }
  .grey {
    color: #2e2f42;
  }
*/
